<div id={{id}} class="playlist-item">
    
    <div id="song-img">
        <a href="/api/playlist/{{publicId}}"><i class='bx bxs-music' ></i></a>
    </div>
    <div class="playlist-item-title">
        {{title}}
    </div>
</div>