<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Groov Playlist Creater</title>
    <link
      href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/styles.css' />
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
  </head>
  <body>

    <header>
      <div class="head">
        <div class='logo'>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
        </div>
        <div class='page-name'>
          <div class="page-title">Groov</div>
        </div>
        </div>
        {{#if logged_in}}
        <div class="menu">
          <div class="menu-group">
            <div class="user-item">User Name: {{user}}</div>
          </div>
          <div class="menu-group">
            {{#if showCreateMenu}}
            <div class="menu-item"><a href='/'>Create Playlist</a></div>
            {{/if}}
            <div class="menu-item"><a href='#' id='logout'>Logout</a></div>
          </div>
          
        </div>
        {{/if}}
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class='footer'>
      <section id='groov-group'>
        <div class="group-name">Groov Group</div>
        <div class='github-acc'>
          <address>
            <a href='https://github.com/GaviDev8'>Gabriela</a>
            <a href='https://github.com/DeceitfulDragon'>Hunter</a>
            <a href='https://github.com/Moe1362'>Moe</a>
            <a href='https://github.com/ccreed86'>Cliff</a>
          </address>
        </div>
      </section>
      <div class='comment'>
        <p>&copy; 2024 Created By Groov Group</p>
      </div>
    </footer>
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>