 <header>
        <section class="head1">
            <section class="logo">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </section>
            <section class="page-name">
                <h1>App Name</h1>
             </section>
        </section>
        
        <nav class="navbar">
            <a href="#">Login/Logout</a>
            <a href="#">Play List</a>
            <a href="#">Create Playlist</a>
        </nav>
    </header>