
    <section class="wrapper">
<section class="form-wrapper sign-up">
            <form action="">
                <h2>Sign Up</h2>
                <section class="input-group">
                    <input type="text" required>
                    <label for="">Username</label>
                </section>
                <section class="input-group">
                    <input type="password" required>
                    <label for="">Password</label>
                </section>
                <button type="submit" class="btn">Sign Up</button>
                <section class="sign-link">
                    <p>Already have an account? <a href="#" class="signIn-link">Sign In</a></p>
                </section>
            </form>
        </section>
        <section class="form-wrapper sign-in">
            <form action="">
                <h2>Login</h2>
                <section class="input-group">
                    <input type="text" required>
                    <label for="">Username</label>
                </section>
                <section class="input-group">
                    <input type="password" required>
                    <label for="">Password</label>
                </section>
                <button type="submit" class="btn">Login</button>
                <section class="sign-link">
                    <p>Don't have an account? <a href="#" class="signUp-link">Sign Up</a></p>
                </section>
            </form>
        </section>
    </section>
   