<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <header>
        <section class="logo">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </section>
        <section class="page-name">
           <h1>App Name</h1>
        </section>
        <nav class="navbar">
            <a href="#">Login/Logout</a>
            <a href="#">Play List</a>
            <a href="#">Create Playlist</a>
        </nav>
    </header>
    <section class="wrapper">
<section class="form-wrapper sign-up">
            <form action="">
                <h2>Sign Up</h2>
                <section class="input-group">
                    <input type="text" required>
                    <label for="">Username</label>
                </section>
                <section class="input-group">
                    <input type="email" required>
                    <label for="">Email</label>
                </section>
                <section class="input-group">
                    <input type="password" required>
                    <label for="">Password</label>
                </section>
                <button type="submit" class="btn">Sign Up</button>
                <section class="sign-link">
                    <p>Already have an account? <a href="#" class="signIn-link">Sign In</a></p>
                </section>
            </form>
        </section>
        <section class="form-wrapper sign-in">
            <form action="">
                <h2>Login</h2>
                <section class="input-group">
                    <input type="text" required>
                    <label for="">Username</label>
                </section>
                <section class="input-group">
                    <input type="password" required>
                    <label for="">Password</label>
                </section>
                <button type="submit" class="btn">Login</button>
                <section class="sign-link">
                    <p>Don't have an account? <a href="#" class="signUp-link">Sign Up</a></p>
                </section>
            </form>
        </section>
        </section>
<section class="footer">
            <div class="social-media">
                <a href="#" style="--i:7;"><i class='bx bxl-github'></i></i></box-icon></a>
                <a href="#" style="--i:8;"><i class='bx bxl-twitter' ></i></box-icon></a>
                <a href="#" style="--i:10;"><i class='bx bxl-linkedin' ></i></a>
            </div>
            <p>&copy; 2024 Created By Group 5</p>
        </section>
    
        
   <script src="../public/js/script.js"></script>
</body>      

</html>



    

</body>