@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    background: linear-gradient(#10202e, #b08e99);
    overflow: auto;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideLeft 3s ease forwards;


}
header .playlist-name {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(54, 170, 108, 0.2);
    opacity: 0;
    animation: slideRight 3s ease forwards;

}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);

}
header .navbar a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    transition: .5s;

}
header .navbar a:hover {
    background: #99ce13;
    color: #1f242d;
    border-radius: 5px;
    box-shadow: 0 0 20px #99ce13;
}
header .page-name h1 {
    font-size: 150px;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px;
    text-shadow: 0 0 10px rgba(221, 78, 78, 0.5);
    
}
header .logo {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100px;
    justify-content: space-between;
    margin-right: 60px;
}

header .logo .bar {
    width: 20px;
    height: 60px;
    background-color: #99ce13;
    animation: wave 1s infinite ease-in-out;
}

header .logo .bar:nth-child(2) {
    animation-delay: -0.2s;

}
header .logo .bar:nth-child(3) {
    animation-delay: -0.4s;

}
header .logo .bar:nth-child(4) {
    animation-delay: -0.6s;

}

@keyframes wave {
    0%,100%{
        transform: scaleY(0.5);
    }
    50% {
        transform: scaleY(1.5);
    }
    
}

.wrapper{
    position: relative;
    width: 500px;
    height: 80vh;
}
.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.wrapper.animate-signUp .form-wrapper.sign-ip {
    transform: rotate(7deg);
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}   


.wrapper.animate-signIn .form-wrapper.sign-in {
    animation: animateSignIn 1.5s ease-in-out forwards;
}

@keyframes animateSignIn {
    0%{
        transform: translateX(0);
    }
    50% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0) rotate(7deg);
    }
}
.wrapper .form-wrapper.sign-up {
    transform: rotate(7deg);
}

.wrapper.animate-signIn .form-wrapper.sign-up {
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}   

@keyframes animateRotate {
    0% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animate-signUp .form-wrapper.sign-up {
    animation: animateSignUp 1.5s ease-in-out forwards;
}

@keyframes animateSignUp {
    0%{
        transform: translateX(0);
        z-index: 1;
    }
    50% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0) rotate(7deg);
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    opacity: 0;
    animation: slideRight 3s ease forwards;

}

.footer #groov-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    
}


#groov-group h2 {
    font-size: 30px;
    color: rgba(118, 16, 16, 0.5);
    text-align: center;
    padding-bottom: 40px;
}
#groov-group .github-acc {
    margin-bottom: 90px;
}
#groov-group .github-acc a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
    padding: 10px;
    transition: .5s;
}
#groov-group .github-acc a:hover {
    background: #6b3556;
    color: #a8acb5;
    border-radius: 50%;
    box-shadow: 0 0 20px #5e384d;
}
footer .comment{
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}
.input-group {
    position: relative;
    width: 320px;
    margin: 30px 0;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fff;
}

.btn {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #071623, #ecd1da);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
}
.sign-link {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}
.sign-link p{
    color: #333;
}

.sign-link p a {
    color: #99ce13;
    text-decoration: none;
    font-weight: 600;
}
.sign-link p a:hover {
    text-decoration: underline;
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.playlist-name h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
    opacity: 0;
    animation: slideRight 3s ease forwards;

}

.playlist-info img {
    width: 120px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    
}

.playlist-info {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    margin-bottom: 20px;    
    width: 300px;
    height: 200px;
}

.playlist-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 20px rgba(94, 180, 32, 0.6);
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}
.info-line {
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
}

#playlistContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; 
}