@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(#10202e, #b08e99);
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    
}
header .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    opacity: 0;
    animation: slideLeft 3s ease forwards;


}
header .playlist-name {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(54, 170, 108, 0.2);
    opacity: 0;
    animation: slideRight 3s ease forwards;

}

header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #070606;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);

}
.menu-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    animation: slideRight 3s ease forwards;

}
.menu .user-item {
    color: #99ce13;
    font-size: 2em;
    padding: 10px 30px;

}
header .menu-item {
    padding: 10px 30px;

}

header .menu-item a {
    color: #99ce13;
    font-size: 2em;
    text-decoration: none;
    transition: .5s;

}
header .menu-item a:hover {
    background: #b10b18;
    color: #1f242d;
    border-radius: 5px;
    box-shadow: 0 0 20px #7c1a31;
}
header .page-name .page-title {
    font-size: 100px;
    font-weight: 600;
    color: #99ce13;
    text-shadow: 0 0 10px rgba(221, 78, 78, 0.5);
    
}
header .logo {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100px;
    justify-content: space-between;
    margin-right: 60px;
}

header .logo .bar {
    width: 20px;
    height: 60px;
    background-color: #99ce13;
    animation: wave 1s infinite ease-in-out;
}

header .logo .bar:nth-child(2) {
    animation-delay: -0.2s;

}
header .logo .bar:nth-child(3) {
    animation-delay: -0.4s;

}
header .logo .bar:nth-child(4) {
    animation-delay: -0.6s;

}

@keyframes wave {
    0%,100%{
        transform: scaleY(0.5);
    }
    50% {
        transform: scaleY(1.5);
    }
    
}

.wrapper{
    position: relative;
    width: 500px;
    height: 80vh;
}
.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.wrapper.animate-signUp .form-wrapper.sign-ip {
    transform: rotate(7deg);
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}   


.wrapper.animate-signIn .form-wrapper.sign-in {
    animation: animateSignIn 1.5s ease-in-out forwards;
}

@keyframes animateSignIn {
    0%{
        transform: translateX(0);
    }
    50% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0) rotate(7deg);
    }
}
.wrapper .form-wrapper.sign-up {
    transform: rotate(7deg);
}

.wrapper.animate-signIn .form-wrapper.sign-up {
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}   

@keyframes animateRotate {
    0% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animate-signUp .form-wrapper.sign-up {
    animation: animateSignUp 1.5s ease-in-out forwards;
}

@keyframes animateSignUp {
    0%{
        transform: translateX(0);
        z-index: 1;
    }
    50% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0) rotate(7deg);
    }
}
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #fff;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 3s ease forwards;
    flex-shrink: 0;
    background-color: #070606;

}

.footer #groov-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    
 
}


#groov-group .group-name {
    font-size: 3em;
    color: #99ce13;
    text-align: center;
    padding: 20px;
}

#groov-group .github-acc {
    margin-bottom: 10px;
}
#groov-group .github-acc a {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    padding: 0 15px;
}
#groov-group .github-acc a:hover {
    background: #6b3556;
    color: #a8acb5;
    border-radius: 50%;
    box-shadow: 0 0 20px #5e384d;
}
footer .comment{
    font-size: 1.5em;
    text-align: center;
    color: #99ce13
   
}
.input-group {
    position: relative;
    width: 320px;
    margin: 30px 0;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fff;
}

.btn {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #071623, #ecd1da);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
}
.sign-link {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}
.sign-link p{
    color: #333;
}

.sign-link p a {
    color: #99ce13;
    text-decoration: none;
    font-weight: 600;
}
.sign-link p a:hover {
    text-decoration: underline;
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#playlistContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; 
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
}
.playlists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
.playlists-create {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    
}
.playlists-step {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e59a9a;
    border-radius: 20px;
    width: 30%;
    margin: 30px;
    height: 400px;
    

}
.playlists-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    overflow-x:auto;
    flex:1;

}
.step-title {
    font-size: 2.5em;
    color: #070606;
    flex-shrink: 0;
}
.search-results {
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    flex: 1;
    overflow-y: auto;
    color: antiquewhite;
   
   

}

.search-result {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.addTrackBtn {
    font-size: 1.5em;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background: #070606;
    color: #d0d4c8;
    border-radius: 20px;
    margin-right: 10px;
    

}
.removeTrackBtn {
    font-size: 1.5em;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background: #070606;
    color: #d0d4c8;
    border-radius: 20px;
    margin-right: 10px;
    

}
.selected-song {
     font-size: 1.5em;

}
.playlists-show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    }
.search-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    line-height: 80px;
   

}
.search-item label {
    font-size: 2em;
    font-weight: 500;
    color: #070606;
    margin-right: 5px;
    flex-grow: 1;

}
.search-item input {
    font-size: 1.5em;
    margin-right: 5px;
    height: 40px;
    border-radius: 5px;
    width: 70%;
    padding: 5px;
    border: 1px solid #070606;
    background: #070606;
    color: #e2e4df;
    border-radius: 5px;
    box-shadow: 0 0 20px #373b2f;
}
.search-item input:active {
    background: #070606;
    color: #e2e4df;
    border-radius: 5px;
    box-shadow: 0 0 20px #373b2f;

}
.search-item button {
    font-size: 1.5em;
    background: #090909;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    
    
}
.search-form .search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
    width: 90%;
    }
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

hr {
    width: 100%;
    margin: 5px;
    color: black;

}


#savePlaylistBtn {
    font-size: 2em;
    background: #070606;
    color: #99ce13;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
}
#savePlaylistBtn:hover {
    background: #99ce13;
    color: #1f242d;
    border-radius: 20px;
    box-shadow: 0 0 20px #99ce13;
}
#savePlaylistBtn:active {
    background: #99ce13;
    color: #1f242d;
    border-radius: 5px;
    box-shadow: 0 0 20px #99ce13;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1 0 25%; /* Adjust width to create four columns */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
  }
  
  .circle-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* To make it circular */
    overflow: hidden; /* Ensure image stays within circle */
  }
  
  .circle-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio */
  }
  
  p {
    margin: 5px 0;
  }
  
  .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    
    
  }
  .delete-btn:hover {
    color: #e70c0c;
  }
  
  .delete-btn i {
    font-size: 24px;
  }

  .user-playlists {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: -100px;
  }
  .user-playlists h2 {
    font-size: 30px;
    color: #070606;
    margin-bottom: 20px;
    border: 1px solid #e59a9a;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    padding: 8px;
    
  }
  .playlist-item-title{
    font-size: 2em;
    color: #070606;
    margin-bottom: 20px;
    padding: 8px;
  }
  .playlist-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 0 50px;
  }
  #playlist-folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 0 50px;
  }
  #playlist-folder .title-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 0 50px;
    opacity: 0;
    animation: slideLeft 3s ease forwards;

  }
  #playlist-folder .title-name h2 {
    font-size: 80px;
    color: #070606;
    margin-bottom: 20px;
    border: 1px solid #e59a9a;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    padding: 8px;
  }

  #song-img i {
    font-size: 100px;
    color: pink;
    margin-top: 20px;
    
  } 

  #song-img i:hover {
    color: #99ce13;
    animation: rotate 1s infinite;
  } 
  .playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
  .playlist-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .playlist-title {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: linear-gradient(to right, #070606, #ecd1da);
  }
  .playlist-user {
    font-size: 1.5em;
  }
  .track-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    height: 700px;
    margin-left: 100px;
  }
  .track {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 220px;
  }
  .track-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  .track-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  .track-artist {
    font-size: 1.2em;
    font-weight: bold;
  }
  .track-album {
    font-size: 1.2em;
    font-weight: bold;
  }
  .track-inf {
    font-size: 1em;
  }
    
  
